*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* list-style: none; */
}

:root{
     
--color-nav-bar:#F8F8F8;
--color-primary:#FF5722;
--color-secondary-dark:#FFA589;
--color-secondary-light:#FFF6F2;
--heading-color:#000000;
--body-color:#333333;
--color-white:#FFFFFF;
--avatar-size:50px;

}

html{
    font-size:62.5%;
    
}

body{
    color:var(--body-color);
    font-size: 1.4rem;
    line-height: 3rem;
    
}

h1,h2,h3{

    color: var(--heading-color);
    font-weight: 700;
}
/* بر اساس موبایل است */
h1{
    font-size: 2.5rem;
}

h2{
    font-size: 2.2rem;
    margin-bottom:1.5rem ;

}

h3{
    font-size: 2.2rem;
}
@media screen  and (min-width:1024px){

body{
    font-size: 1.8rem;
}
h1{
    font-size: 5rem;
}
h2{
    font-size: 3.5rem;
}

     
}
    
.btn{
    outline: 0;
    border: 0;
    border-radius: 8px;
    padding: 1.9rem 2.5rem;
    cursor: pointer;
    text-align: center;
    white-space:nowrap;
    font-size: 1.4rem;
    

}

.btn--primary{
    background-color: var(--color-primary);
    color:var(--color-white);
}

.btn--secondary{
    background-color:var(--color-secondary-dark);
    color:var(--color-white)
}

.btn--block{
    width: 100%;
    font-size: 1.6rem;
}

@media screen and (min-width:1024px) {

    .btn{

    font-size: 1.6rem; }
    /* اندازه دکمه روی صفحه بزرگتر   */

    .btn--block{
        font-size: 2rem;
    }    

 
}
/* badge */

.badge{
    outline: 0;
    border-radius:32px ;
    border: 2px solid #FF5722;
    padding: 8px 11px 11px 8px;
    font-weight: 500;
    text-align: center;
    display: inline-block;
    margin-top: 20px;
    font-size: 1.2rem;
}
.badge-primary{

    background-color:var(--color-white);
    color:var(--color-primary);
    padding: 7px 11px 11px 8px;  
    
}


.badge-secondary{
    background-color:var(--color-primary);
    color:var(--color-white);
    /* padding: 6px 18px 13px 11px; */
    /* font-size: 1.4rem; */
}

@media screen and (min-width:1024px) {

    .badge {
    
        font-size: 1.4rem;
        /* padding: 18px 11px 11px 6px; */
    }
    .badge-primary{

        padding:11px 9px 8px 7px;
    }
}

/* list */

.list{
    list-style: none;
    font-size: 1.6rem;
}

.list--tick .list__item{
    background: url(/Assets/images/tick-square-svgrepo-com.svg) no-repeat;
    background-position: left center;
    padding-left:2.5rem;
}

.list--tick .list__item{
    /* background-color: #e9d4cd; */
    margin-bottom: 20px;
    margin-top:2rem;
    /* display:inline-block; */
    margin-right: 3rem;
}
@media screen and (min-width:1024px) {
    .list--tick{
        font-size: 1.8rem;
        margin-bottom: 10rem;
    }
    
}

/* Plan */ 

.block-plan{
    margin-top: 6rem;
    display: grid;
    gap: 7rem 6rem ;
    grid-template-columns: repeat(auto-fit,minmax(250px,320px));
    justify-content: center;
}

.plan{
    /* background-color: #aa9696; */
    max-width: 450px;
    transition: ease-in-out 2s;
}

.plan .btn--block{

   margin-top: 10rem;
}

.card{

    border-radius:20px;
    overflow: hidden;
    /* background-color: #d7aec6; */
    box-shadow:  0 0 20px 5px #c5bcbc;
}

/* چون این دو تا کلاس مربوط به 2 تا دیو جداگانه هست باید ویرگول بزاریم  
اگر مربوط به 1 دئو می بودن می تونستیم بدون ویرگول بنویسیم */
.card__header,.card__body{

    padding:3rem 2.5rem;
}




.card__header{
    color: #F8F8F8;
    
    
}

.card--secondary .card__header{
background-color:var(--color-secondary-dark);
}

.card--primary .card__header{
    background-color:#FF7A50; 

}

.card--special .card__header{

    background-color: var(--color-secondary-dark);
}

.plan__introduction{

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

} 



.plan__price{
    
    font-size: 3rem ;
    
}
.plan__billing-cycle{

    font-size: 1.4rem;
   
}


.plan__description{
    display: block;
    margin-top: 1rem;
    
    
}

/* باید زمانی که  صفحه  کش میاد کادر ها از حالت زیر هم  بیان کنار هم  */

@media screen and (min-width:1024px){

    /* .block-plan{
        grid-template-columns: repeat(3,1fr);
        margin-left:7rem ;
    } */

} 

.card--primary{

   transform: scale(1.1);  
}


.card--primary:hover{
    transform: scale(1.08);
    
}

.plan:hover{

    transform: scale(1.05);
}


.container{
    max-width: 1140px;
    margin: 0 auto;
}


.feature{
    display:grid;
    
    
}



@media screen and (min-width:1024px){

    .feature{

        grid-template-columns:repeat(2, 1fr) ;
    }

    .feature__pic{
        order:2;
        margin-bottom:0;
        
    }
    .feature__detail{
        order: 1;
    }
}

.feature__text{

    margin-bottom: 3rem;
    margin-top: 4rem;
}

.feature .btn{

    padding:1.5rem 4.5rem;
    margin-top: 3rem;
    margin-bottom: 0;

}

.feature__pic > img {
    width: 100%;
    height: auto;
    margin-right: 80px;
}

.feature__pic{
    margin-bottom: 2.5rem;
}

.feature__detail{

    margin-left: 40px;
    
}


/* contact-us */


.container.contact-us-text {

    max-width: 500px;
    width: 100%;
    display:flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    
}



.contact-us__map{
    display: none;
}


.contact-us__map img{

    width: 100%;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
}


.contact-us{
    padding: 1.5rem;
    display: grid;
    justify-content: center;
    gap: 3rem 4rem;
}



@media screen and (min-width:1024px) {


    


.contact-us{

grid-template-areas: 

"form icons"
"form map"
"form social";

grid-template-columns: 30fr 70fr;

}
.contact-us__form {
    grid-area:form;
}

.contact-us__map {
    grid-area:map;
    display: block;
}


.contact-us__icons {
    grid-area:icons;
}

.contact-us__social {

    grid-area:social;
}


}


/* social icons  */

.contact-us__social{

    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content:space-around;
    
}


.contact-us__social .icon-container{

    margin-right:1rem ;
}

@media screen and (min-width:1024px){

    .contact-us__social{

       justify-content: flex-start;
       margin-top: 2rem;
    }

    .contact-us__social .icon-container{

        margin-left: 2rem;
    }

}

.contact-us__svg{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.contact-us__icons .icon-holder{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
   }

.icon-holder__label {

margin-left: 1rem; 
display: block;
max-width: 250px;
  
}




@media screen and ( min-width: 1024px) {

    .contact-us__icons{
       display: flex;
       flex-direction:row;
       justify-content: space-between;
       align-items: flex-end;
    }

    .contact-us__icons .icon-holder{
        flex-direction: column;
        margin-bottom: 1rem;
        max-width:250px;
        text-align: center; 
        height: 110px;

    }

    .icon-holder__label{

        order: 2;
        font-size: 1.4rem;
        margin-top: 1.5rem;
        line-height: 1.5rem;
    }
}



/* form */

.form-wrapper{


    border:1px solid #E5E5E5;
    border-radius: 20px;
    box-shadow: 0px 13px 19px 0px  #E5E5E5;
    padding: 2rem;
    margin:2rem 1rem;
    height: 100%;
   
}


.form-wrapper h3{

    margin-bottom: 5.2rem;
    text-align: center;
}


.form-wrapper form {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
}

input,
textarea {
  display: block;
  outline: 0;
  border: 0;
}

textarea {
    resize: none;
  }

  .form-wrapper input,
  .form-wrapper textarea {

    border-radius: 20px;
    background-color: #f5f5f5;
    padding: 1.2rem 1.5rem;
    margin-bottom: 1.5rem;
  }

  .form-wrapper input:focus,
.form-wrapper textarea:focus {
  border: 1px solid var(--color-primary);
}

.form-wrapper textarea {
    border-radius: 5px;
  }



.form__name .btn{

    border-radius:2rem ;
    padding: 1.5rem;
    width: 40%;
    font-size: 1.5rem;
}

.contact-us__text{
    border: none;
    background-color: #E8E8E8;
}


/* icons */
.icon{
    width: 40px;
    height: 40px;
}
.icon-container{
    width: 50px;
    height: 50px;
    background-color:#f6f6f6;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;

}

/* Footer  */

/* این قسمت کل 1440 رو میگیره */

.main-footer{
    background-color: #000000;
    color:#FFFFFF;
    min-height: 250px;
    display: flex;
    align-items: center;


}

.main-footer .footer{

    display: flex;
    flex-direction: column;
}

.footer__item{
    margin-bottom: 2.5rem;
}

.footer__item a{
    text-decoration:none;
    font-size: 1.4rem;
    color: #FFFFFF;
    display: block;
    margin-bottom: 0.4rem;
}

.footer__item h6{
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.footer__item.enemad{
    display: flex;
    flex-direction:row ;
    justify-content: space-around;
}

/* 
به کانتینر های اینماد ها بک گراند میدبم */

.footer__enemad{
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 1rem 0.5rem;
    max-width: 86px;
    margin-left: 1rem;
}

.footer__enemad img{
    width: 100%;
height: auto;
}

@media screen and (min-width:768px) {



    .main-footer .footer{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .footer__item{
        margin-bottom: 0rem;
        margin-right: 3rem;
    }

    .container.footer{

        margin: 1.5rem;
    }
 
    
}


/* Navbar  */


.main-header{

    background-color:var(--color-nav-bar);
}


.nav {

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 2rem;

}

.nav__list{

    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    /* align-items: center; */
    margin-top: 2rem;
    max-height:0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.5s ease-out;

}

.nav__item{
    margin-bottom: 1rem;
    border-bottom:  1px solid #ccc;
   
}



.nav.nav__expanded .nav__list {
    max-height:100vh;
    opacity: 1;
    

}

.nav__item > a {

    text-decoration: none;
    color: #444;
    display: block;
    padding: 0.5rem 1rem;

}

.nav__item.cta >a:hover{
    color: antiquewhite;
}


 /* .nav__item.cta {

   font-size: 3rem; 
   
}  */

.nav__item.cta > a {

    color: #FFFFFF;

    font-size: 1.4rem; 
}

@media screen  and (min-width:768px) {

    .nav {

        padding: 0 2rem;
    }

    .nav__toggler{
        display: none;
    }

    .nav__list {
        flex-direction: row ;
        align-items: center;
        /* justify-content: space-around; */
        width: auto;  
         /* نمی خواهیم بیاد سطر بعدی  */
         opacity: 1;
         max-height: 100%; 
         /* یعنی 100 درصد عرض پدرش باشد  */
    
    }

    .nav__item{

        margin-right: 3rem;
        margin-bottom: 3rem;
        font-size: 1.6rem;
        border: 0;
    } 

    .nav__item > a:hover{

        color: var(--color-primary);
        font-weight: bold;
         
     }
     
}


/* Toggler  */

.nav__toggler{

    cursor: pointer;
}

.bar {

width: 25px;
height: 3px;
background-color: #000000;
margin:5px 0;
border-radius: 5px; 
transition: all 0.4s ease-out;

}

.nav.nav__expanded .bar-one{

    transform: rotate(-45deg) translate(-12px, 4px);
}

.nav.nav__expanded .bar-two{

    opacity: 0;
    transform: translateX(30px);
}

.nav.nav__expanded .bar-three{
    transform: rotate(45deg) translate(-7px, 1px);;
}


/* Hero section */





.hero-wrapper{
    position: absolute;
    /* background-color: aquamarine; */
    top: 0px;
    left: 30px;
    width: 100%;
    height: 475px; 
    display: flex;
    justify-content: center; 
    align-items: center;
    z-index:2;
}

.hero-section{

position: relative;
   width: 100%;
   height: 478px; 
}

/* عکس ما باید پر شود  */

.hero-section .banner-img{

    width: 100%;
    height: auto;
}

.intro-btn{
    border-radius:12px;
    background-image:linear-gradient(51deg,rgba(23,26,60,.7) 5%,rgba(23,26,60,.3) 95%);
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center ; */
    max-width: 310px;
   
}

.intro-btn h1 {

    font-size: 2rem;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 2rem;
}

.hero-wrapper{
    align-self: start;
    text-align: start;
   display: flex;
    justify-content: flex-start;
    align-items:start;
}

.intro-btn h2 {

    font-size: 1.6rem;
    color: #FFFFFF;
    margin-bottom: 3rem;
}

.intro-btn__passenger{
    background-color:#FFFFFF;
    border-radius: 12px;
    margin-bottom: 2rem;
    display:flex;
    width: 260px;
    padding: 14px;
    justify-content:space-between;
    cursor: pointer;
}

.intro-btn__passenger p{
    font-size: 1.4rem;
}

/* .intro-btn__passenger {
    cursor: pointer;
    display:flex;
    align-items: center;
    justify-content: space-around; 
  } */

  .intro-btn__passenger.intro-btn-dark{

    background-color:transparent;
    color: #FFFFFF;
    border: 2px solid  white;
  }

.intro-wrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


.banner-phone {
    display: none;
    position: absolute;
    height: auto;
    top:-2px;
    width: 480px;
    right: 40px;

}

@media screen and (min-width: 768px){


    .hero-wrapper{
        justify-content: flex-start;
        top:20px;
        left: 40px;
    }
    
    .intro-wrapper {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .intro-btn {
        max-width: 580px;
        padding: 25px;
         border-radius: 20px;
    }


    .intro-btn h1{
        font-size:4rem ;
        align-self:self-start;
    }

    .intro-btn h2{
        font-size: 2.4rem;
        align-self:self-start;

    }

    .intro-btn__passenger{

        width:260px;
    }

    .banner-phone {
        display:block;
    }
    
}


/* Services tab */


.services__tabs
{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    overflow: auto;
   padding: 8px 15px;
    
}

.services__tabs  a {
    display: block;
    text-decoration: none;
    color:#444242 ;
    display: flex;
    flex-direction:column;
    align-items:center;
    max-width: 100px;
    /*  و برای اینکه در موبایل اسکرول نخورد به صورت بالا با overflow/ و می خواهیم  نوشته ها بیاد وسط عکس  */
    

}

.services__tabs img{
    max-width: 85px;
}

.services__tabs .tab > p {

    margin-top: 1.1rem;
    font-size: 1.2rem;
}


.services__tabs .tab{

    opacity: 0.5;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.services__tabs .tab:hover{

    opacity: 1;

}

.services .feature__title{
margin:4rem 0;

}

.services .feature__pic {
    display: none;
    margin-top: 2rem;
}


.tab-content{

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feature__detail{

width: 100%;
}

@media screen and (min-width:1024px){

    .services__tabs .tab > p {

        margin-top: 1rem;
        font-size: 1.5rem;
    }

    .services__tabs img{
        max-width: 100%;
        /* یعنی 100 درصد تگ پدر یعنی تگ a رو بگیره */

}
/* .services__title{
margin-bottom: 30px;

} */

.services .feature__pic {
    display: block;
}

.feature__detail{

    width: 60%;

}
}


.tab-content{
    display: none;
}

.tab-content.active{
    display: flex;
}

.tab.active{
    opacity: 1;
}

.block{
    padding: 6rem 2rem;
}
.block-heading{
    margin-top: 18rem;

}



/* TRAVEL slides */


.travel__awards h2{

   margin: 2rem 1.5rem;
   display: flex;
   justify-content:space-around;
}

.travel__slides{
    display:flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: auto;
    padding: 2rem;
   
    
}
.travel__slides::-webkit-scrollbar{
    display: none;
}

.travel-slide{
    
    flex: 0 0 290px;

}

.travel-slide img {
width: 100%;
height:100%;
object-fit: cover;
border-radius: 32px;

}
/* .slide__img-last{

    height:200px;
    width: 100%;
} */



 
.slide__detail{
    background-color: #FFFFFF;
    box-shadow: 10px 13px 19px 0px  #E5E5E5;
    border-radius: 32px;
    padding: 1rem 2rem;
    transform: translateY(-60px);
    width: 85%;
} 

.travel-slide{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.slide__img {

    height:200px ;
    width:100% ;
}

.travel-slide:not(:last-child) {

    margin-right: 2rem;
}

.slide__header{

    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.slide__header p {
    font-size: 1.2rem;
    margin-left: 1rem;
}

.slide__header .badge{

    font-size:1.2rem ;
    padding: 0.1rem 0.8rem;
    margin-top: 0px;

}
.slide__detail .slide__text {

    font-size: 1.4rem;
    font-weight: bold;
    margin-top: 1rem;
}

.slide__detail .slide__icons  {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.2rem;
    opacity:0.3 ;
}


/* .slide__likes > span:hover{
    opacity:1;
}
 */


.slide__icons i{
    cursor: pointer;
    
}

.slide__icons .slide__edit i{

    margin-right:1rem;
}


/* Accordion drop down */


.accordion__header{
    
    display: flex;
    justify-content:space-between;
    align-items: center;
    cursor: pointer;
    border-bottom: 2px solid #ececec;
    padding: 2rem 2rem;
}

.accordion__heading{
    font-size: 2rem;
    margin-bottom:0;
    
}



.accordion__content{

   border-radius: 5px;

    max-height: 0;
    overflow: hidden;
    transition: all 0.6s ease-out;


}


.accordion__content p {
    border-bottom: 2px solid #ececec;
    margin: 1rem 0;
    font-size: 1.4rem;
    color: #878787;
  }

 .accordion__expanded .accordion__content{
    max-height: 100vh;
    opacity: 1;
    padding: 0.2rem 2rem;
 }

 .accordion__header i {
    color: var(--color-primary);
    font-size: 1.8rem;
    transform: rotate(-);
    transition: all 0.5s ease-out;
 }

 .accordion__expanded .accordion__header i{
    transform: rotate(-180deg);
 }


 .accordion-wrapper {

    background-color: #FFFFFF;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 9px 12px rgba(0,0 ,0, 0.05);
    
 }

 .accordion__intro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #ececec;
    padding: 2rem 2rem ;
 }

 .accordion__intro >span {
    cursor: pointer;
    color: var(--color-primary);
 }


 /* Avatar */


 .avatar-group{

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
 }

 .avatar-group .avatar{

    width: var(--avatar-size);
    height: var(--avatar-size);
    border-radius: 50%;
    border: 2px solid #FFFFFF;
    overflow: hidden;
    margin-right: -20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    position:relative;

 }
 
 .avatar-hidden{

width: var(--avatar-size);
height: var(--avatar-size);
background-color: var(--color-primary);
color: #FFFFFF;
border-radius: 50%;
display: flex;
align-items:center;
justify-content: center;
cursor: pointer;
position: relative;
 }


 .avatar:hover{

    transform: translate(-10px);
 }

 .slide-suggest{
    font-size: 1.3rem;
    margin-left: 1rem;
    cursor: pointer;
    color: var(--color-primary);
    display: inline-block;
 }

 /* Radio button section*/



 .button-container{
    max-width: 1140px;
    margin: 0 auto;
}
 

 .driver__selection h2 {

    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
 }

 .select-type{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    

 }
 .select-control input[type="radio"] {
    display: none;
 }

 .select-control{
    cursor: pointer;

    flex-grow:1 ;
    margin: 2rem;
 }

 .select-type :not(:last-child){
    margin-right: 2rem;
 }

 .select-control label{
    cursor: pointer;

    width: 100%;
    display:block;
    border-radius: 30px;
    border: 2px solid #ccc;
    padding: 1rem 2rem;
    font-weight: 700;
    color: #454242;
    position: relative;
    text-align: center;
    transition: all 0.3s ease-in-out;
 }

 .select-control label::before{

    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    box-shadow: 0 0 0 2px #ccc;
    border-radius: 100%;
    right: 2.5rem;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.2s ease-out;

 }


 .select-control input[type="radio"]:checked + label {

    border: 2px solid var(--color-primary) !important;
    color:  var(--color-primary);
 }


 .select-control input[type="radio"]:checked + label::before {
    border: 3px solid #FFFFFF;
    box-shadow: 0 0 0 2px var(--color-primary);
    background-color: var(--color-primary);
  }