*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* list-style: none; */
}

:root{
     
--color-nav-bar:#F8F8F8;
--color-primary:#FF5722;
--color-secondary-dark:#FFA589;
--color-secondary-light:#FFF6F2;
--heading-color:#000000;
--body-color:#333333;
--color-white:#FFFFFF;

}

html{
    font-size:62.5%;
    
}

body{
    color:var(--body-color);
    font-size: 1.4rem;
    
}

h1,h2,h3{

    color: var(--heading-color);
    font-weight: 700;
}
/* بر اساس موبایل است */
h1{
    font-size: 2.5rem;
}

h2{
    font-size: 2.2rem;

}

h3{
    font-size: 2.2rem;
}
@media screen  and (min-width:1024px){

body{
    font-size: 1.8rem;
}
h1{
    font-size: 5rem;
}
h2{
    font-size: 3.5rem;
}

     
}
    
.btn{
    outline: 0;
    border: 0;
    border-radius: 8px;
    padding: 1.9rem 2.5rem;
    cursor: pointer;
    text-align: center;
    white-space:nowrap;
    font-size: 1.4rem;

}

.btn--primary{
    background-color: var(--color-imary);
    color:var(--color-white);
}

.btn--secondary{
    background-color:var(--color-secondary-dark);
    color:var(--color-white)
}

.btn-block{

    width: 100%;
    font-size: 1.6rem;
}

@media screen and (min-width:1024px) {

    .btn{

    font-size: 1.6rem; }
    /* اندازه دکمه روی صفحه بزرگتر   */

    .btn-block{
        font-size: 2rem;
    }    

 
}
/* badge */

.badge{
    outline: 0;
    border-radius:32px ;
    border: 2px solid #FF5722;
    padding: 8px 11px 11px 8px;
    font-weight: 500;
    text-align: center;
    display: inline-block;
    margin-top: 20px;
    font-size: 1.2rem;
}
.badge-primary{

    background-color:var(--color-white);
    color:var(--color-primary);
    padding: 7px 11px 11px 8px;  
    
}


.badge-secondary{
    background-color:var(--color-primary);
    color:var(--color-white);
    /* padding: 6px 18px 13px 11px; */
    /* font-size: 1.4rem; */
}

@media screen and (min-width:1024px) {

    .badge {
    
        font-size: 1.4rem;
        /* padding: 18px 11px 11px 6px; */
    }
    .badge-primary{

        padding:11px 9px 8px 7px;
    }
}

/* list */

.list{
    list-style: none;
    font-size: 1.6rem;
}

.list--tick .list__item{
    background: url(/Assets/images/tick-square-svgrepo-com.svg) no-repeat;
    background-position: left center;
    padding-left:2.5rem;
}

.list--tick .list__item{
    background-color: #e9d4cd;
    margin-bottom: 20px;
    /* display:inline-block; */
    margin-right: 3rem;
}
@media screen and (min-width:1024px) {
    .list--tick{
        font-size: 1.8rem;
        margin-bottom: 5rem;
    }
    
}

/* Plan */

.block-plan{
    margin-top: 3rem;
    display: grid;
    gap: 2rem 3rem ;
}

.plan{
    /* background-color: #aa9696; */
    max-width: 500px;
}


.card{

    border-radius:20px;
    overflow: hidden;
    /* background-color: #d7aec6; */
    box-shadow:  0 0 20px 5px #c5bcbc;
}

/* چون این دو تا کلاس مربوط به 2 تا دیو جداگانه هست باید ویرگول بزاریم  
اگر مربوط به 1 دئو می بودن می تونستیم بدون ویرگول بنویسیم */
.card__header,.card__body{

    padding:0.5rem 2.5rem;
}


.card__header{
    background-color:#FF7A50;
    color: #F8F8F8;
    
    
}


.plan__introduction{

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

} 



.plan__price{
    
    font-size: 3rem ;
    
}
.plan__billing-cycle{

    font-size: 1.4rem;
   
}


.plan__description{
    display: block;
    margin-top: 1rem;
    
    
}

/* باید زمانی که  صفحه  کش میاد کادر ها از حالت زیر هم  بیان کنار هم  */

/* @media screen and (min-width:1024px){

    .block-plan{
        grid-template-columns: repeat(3,1fr);
    }

}
 */
