<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="./css/fonts.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />

    <title>Accordion menu</title>
  </head>
  <body>
    <section class="container">
      <div class="accordion accordion__expanded">
        <header class="accordion__header">
          <h2 accordion__heading>Drivers</h2>
          <span class="icon">
            <i class="fa-solid fa-circle-chevron-down"></i
          ></span>
        </header>

        <div class="accordion__content">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. A totam id
          possimus, nostrum corporis omnis temporibus, excepturi iste veritatis,
          nam animi saepe. Voluptate libero, placeat delectus dolores eum
          expedita perspiciatis corrupti harum ab nulla beatae officia
          aspernatur, magnam quia amet impedit soluta commodi voluptas dolor. A
          voluptatibus minima doloremque quia.
        </div>
      </div>
    </section>

    <script src="../js/main.js"></script>
  </body>
</html>
