<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/fonts.css" />
    <title>Tapsi footer</title>
  </head>
  <body>
    <footer class="main-footer">
      <div class="container footer">
        <div class="footer__item">
          <h6>Tapsi</h6>

          <a href="#">Tapsi Weblog</a>
          <a href="#">Careers </a>
          <a href="#">Contact us</a>
          <a href="#">Logo and corporate identity</a>
          <a href="#">Introducing Tapsi to drivers</a>
        </div>

        <div class="footer__item">
          <h6>Passengers</h6>
          <a href="#">Tapsi Blog</a>
          <a href="#">Download the passenger's app</a>
          <a href="#">Web version</a>
          <a href="#">Passengers FAQ</a>
          <a href="#">Costumers forum </a>
        </div>
        <div class="footer__item">
          <h6>Drivers</h6>
          <a href="#">Drivers registeration</a>
          <a href="#">Download the driver's app</a>
          <a href="#">Drivers FAQ</a>
          <a href="#">Drivers forum </a>
        </div>
        <div class="footer__item">
          <h6>Businesses</h6>
          <a href="#">Tepsi organizational panel</a>
          <a href="#">Purchase credit and discount codes</a>
          <a href="#">Get API</a>
          <a href="#">Terms and conditions</a>
        </div>
        <div class="footer__item enemad">
          <div class="footer__enemad">
            <img src="../Assets/images/logo_enemad.png" alt="enemad" />
          </div>
          <div class="footer__enemad">
            <img src="../Assets/images/etehadiye.png" alt="enemad" />
          </div>
        </div>
        <!-- <div class="footer__item">6</div> -->
      </div>
    </footer>
  </body>
</html>
