<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/fonts.css" />
    <title>Tapsi navbar</title>
  </head>
  <body>
    <header class="main-header">
      <nav class="nav container">
        <a href="#">
          <img src="../Assets/images/tapsi.logo.svg" alt="tapsi-logo"
        /></a>

        <div class="nav__toggler">
          <div class="bar bar-one"></div>
          <div class="bar bar-two"></div>
          <div class="bar bar-three"></div>
        </div>

        <ul class="list nav__list">
          <li class="nav__item"><a href="#">Support</a></li>
          <li class="nav__item"><a href="#">Career Opportunities</a></li>
          <li class="nav__item"><a href="#">Weblog</a></li>
          <li class="nav__item"><a href="#">Videos</a></li>
          <li class="nav__item cta">
            <a href="#" class="btn btn--primary">Tapsi Download</a>
          </li>
        </ul>
      </nav>
    </header>
    <script src="../js/main.js"></script>
  </body>
</html>
