<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="./css/fonts.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />

    <title>Travel section</title>
  </head>
  <body>
    <section class="container travel block">
      <div class="travel__slides">
        <div class="travel-slide">
          <div class="slide__img">
            <img src="../Assets/images/travel-pic.png" alt="travel pic" />
          </div>

          <div class="slide__detail">
            <div class="slide__header">
              <div class="badge badge-secondary">Special</div>
              <p class="travel__text">Free housing &bull; 3 days trip</p>
            </div>
            <p class="slide__text">Jurney through the desert</p>
            <div class="slide__icons">
              <span class="slide__edit">
                <i class="fa-solid fa-trash-can"></i>
                <i class="fa-regular fa-pen-to-square"></i>
              </span>
              <div class="slide__likes">
                <span>46 <i class="fa-solid fa-eye"></i></span>
                <span>12 <i class="fa-solid fa-heart"></i></span>
              </div>
            </div>
          </div>
        </div>

        <div class="travel-slide">
          <div class="slide__img">
            <img src="../Assets/images/travell-2.jpg" alt="travel pic" />
          </div>

          <div class="slide__detail">
            <div class="slide__header">
              <div class="badge badge-secondary">Special</div>
              <p class="travel__text">Free housing &bull; 2 days trip</p>
            </div>
            <p class="slide__text">Journey to the mountain</p>
            <div class="slide__icons">
              <span class="slide__edit">
                <i class="fa-solid fa-trash-can"></i>
                <i class="fa-regular fa-pen-to-square"></i>
              </span>
              <div class="slide__likes">
                <span>46 <i class="fa-solid fa-eye"></i></span>
                <span>12 <i class="fa-solid fa-heart"></i></span>
              </div>
            </div>
          </div>
        </div>
        <div class="travel-slide">
          <div class="slide__img">
            <img src="../Assets/images/travell-4-png.png" alt="travel pic" />
          </div>

          <div class="slide__detail">
            <div class="slide__header">
              <div class="badge badge-secondary">Special</div>
              <p class="travel__text">Free housing &bull; 3 days trip</p>
            </div>
            <p class="slide__text">Journey to the mountain</p>
            <div class="slide__icons">
              <span class="slide__edit">
                <i class="fa-solid fa-trash-can"></i>
                <i class="fa-regular fa-pen-to-square"></i>
              </span>
              <div class="slide__likes">
                <span>46 <i class="fa-solid fa-eye"></i></span>
                <span>12 <i class="fa-solid fa-heart"></i></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
