<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="./css/fonts.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />

    <title>Travel section</title>
  </head>
  <body>
    <section class="container travel">
      <div class="travel__slides">
        <div class="travel-slide">
          <div>
            <img src="../Assets/images/travel-pic.png" alt="travel pic" />
          </div>

          <div class="slide__detail">
            <div class="slide__header">
              <div class="badge badge-secondary">Special</div>
              <p class="travel__text">Free housing &bull; 3 days trip</p>
            </div>
            <p class="slide__text">Jurneying through the desert</p>
          </div>
        </div>

        <div class="travel-slide" style="background-color: cornflowerblue">
          2
        </div>
        <div class="travel-slide" style="background-color: darkgreen">3</div>
      </div>
    </section>
  </body>
</html>
